.ControlBar {
    display: flex;
    flex-direction: row;
    border: solid 1px rgba(0,0,0,0.1);
    width: 90px;
    justify-content: space-between;
    border-radius: 3px;
    margin: 2px;
    color: #7D7D7D;
  }
  
  .ControlBar__btn {
    flex: 1;
    padding: 2px;
  }
  
  .ControlBar__btn:last-child {
    border-left: solid 1px rgba(0,0,0,0.1);
  }
  
  .ControlBar__btn:first-child {
    border-right: solid 1px rgba(0,0,0,0.1);
  }
  
  .ControlBar__btn:hover, .ControlBar__btn:focus {
    color: #212529;
    text-decoration: none;
  }
  
  .ControlBar__btn:focus, .ControlBar__btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .ControlBar__btn.disabled, .ControlBar__btn:disabled {
    opacity: 0.65;
  }
  
  .ControlBar__btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }